extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/packetManage.js')
  h1(style='text-align: center;') Chat
  | Name 
  form#changeName(style="display: inline;")
    input#name(type='text')
    button(type="submit") Change
  input#color(type='hidden')
  script.
    $('#color').attr('value', getRandomColor());
  div
    #scrollBox(style='display: inline-block; height: 300px; width: 350px; border: 2px solid #000000; overflow: auto;')
      div#chatBody
    #userListBox(style='display: inline-block; height: 300px; width: 80px; border: 2px solid #000000; overflow: auto;')
      div#userListBody
  | Text 
  form#send(style="display: inline;")
    input#desc(type='text', autocomplete='off')
    button(type="submit") Send